@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    
}
.content{
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    transition: flex 1s;
    overflow: hidden;
}
.content::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.content.raptor::before{
    background-color: rgba(35, 35, 35, 0.70);
}
.content.mustang::before{
    background-color: rgba(255, 0, 0, 0.486);
}
h2{
    font-size: 72px;
    color: white;
    font-weight: bold;
    z-index: 10;
}
button{
    z-index: 10;
    background-color: transparent;
    border: 4px solid white;
    padding: 20px 100px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    white-space: nowrap;
}
.content.active{
    flex: 3;
    transition: flex 1s;
}
.raptor button:hover{
    background-color: yellow;
    border-color: yellow;
    color: black;
    transition: all 0.5s;
}
.mustang button:hover{
    background-color: black;
    border-color: black;
    color: red;
    transition: all 0.5s;
}

@media screen and (max-width: 575px) {
    button{
        padding: 15px 35px;
    }
}

@media screen and (max-width: 225px) {
    button{
        padding: 10px;
    }
}